<%- model_class = Note -%>
<% content_for :title do %>
  <%=t '.title', :default => model_class.model_name.human.pluralize.titleize %>
<% end %>

<%= render :partial => 'form' %>

<% @notes.each do |note| %>
  <div class="alert alert-primary col-sm-offset-3 col-sm-9" role="alert">
    <h5><%=l note.created_at %></h5>
    <p><%= note.body %></p>
  </div>
<% end %>
