// Place all the styles related to the claims controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.page-header {
	.label {
		bottom: 4px;
		position: relative;
	}

	.created_at {
		bottom: 20px;
		position: relative;
	}
}